.favs-Section {
    background-image: url(https://images.plex.tv/photo?blur=33&size=medium-240&url=https%3A%2F%2Fimage.tmdb.org%2Ft%2Fp%2Foriginal%2F4n41P5CKHFFkQ3s8VJieNmqUkn7.jpg);
    background-position: 50%, 50%;
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    
    &::before {   
        content: "";
        background-color: #000;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
    }
    

    .favs-paragraph {
        font-size: 1.5em;
        color: #cd853f;
        margin-left: 20px;
        margin-bottom: 30px;
        text-decoration: underline;
    }
    
    .movieTitle2 {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        bottom: 30px;
        font-size: 1.5rem;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
    
        a {
            &:hover {
                transform: scale(1.1);
                color: #cd853f;
            }
        }
    
        
    }
}
