footer {
    background-color: $font-color2;
    color: $font-color1;
    padding: $gap2;
    height: 50px;
    @include flex-center;
    bottom: 0;

    p {
        font-size: $font-size-paragraph;   
    }
}