footer {
    background-color: $font-color2;
    color: $font-color1;
    padding: $gap2;
    height: $gap2;
    width: 100%;
    @include flex-center;
    p {
        font-size: $font-size-footer;   
    }
}