.single-movie {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #a43931, #1d4350);
    background-position: 50%, 50%;
    background-size: cover;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;


    .single-movie-content {
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        display:flex;
        flex-direction: column;
        text-align: center;
        padding-top: 30px;

        img{
            width: 80%;
            border-radius: 20px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            margin-top: 20px;
        }
    }

    .single-movie-info {
        text-align: left;
        padding: 10px;
        margin: 10px;

        .title {
            font-size: 30px;
            padding-bottom: 10px;
            line-height: 1.8rem;
        }

        .line {
            content: '';
            background: linear-gradient(to right, #e7ddd2, #dfb993, #cd853f, #dfb993, #e7ddd2);
            border-radius: 20px;
            width: 100%;
            height: 5px;
            margin-top: 20px;
            margin-bottom: 20px;
            opacity: .8;
        }

        .flexRow {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 10px;
            font-size: 16px;
            font-size: 20px;

            .stick {
                display: flex;
                flex-direction: row;
                
                .start {
                    vertical-align:bottom;
                    color: red;
                    font-size: 20px;
                }
            }
        }

        &:last-child {
            line-height: 1.5rem;
            font-size: 20px;
        }
    }
 
}

@media (min-width: $breakpointTablet) {
        .single-movie {
            display: flex;
            justify-content: center;
            width: 100%;

            .single-movie-content {
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-bottom: 20px;

                .single-movie-poster {
                    max-width: 400px;

                    img {
                        width: 100%;
                    }
                }

                .single-movie-info {
                    max-width: 400px;
                }
            }
        }  
}
