@mixin column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row-spcebetween {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flex-row-spacearound {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}