$font-family-heading: Lora;
$font-family-paragraph: Roboto;

$font-size-paragraph: 20px;
$font-size-heading: 30px;
$font-size-paragraph-bigger: 24px;
$font-size-paragraph-smaller: 18px;
$font-size-brand: 35px;
$font-size-brand2: 45px;
$font-size-footer: 15px;

$line-height: 1.6rem;
$line-height-bigger: 1.8rem;