//Colors
$font-color1: #fff;
$font-color2: #000;
$color1: red;
$color3: rgb(194, 183, 183);

// new color: 
$color-1:#E8F3E8;
$color-2:#92C591;
$color-4:#559E54;
$color-5:#305A30;
$color-6:#0A3409;

//padding or margin
$gap1: 20px;
$gap2: 30px;
$gap3: 40px;
$gap4: 5px;
$gap5: 10px;
$gap6: 50px;


//burger menu size
$icon-size: 40px;

//transform
$scale: scale(1.1);

//border radius
$border-radius: 20px;
$border-radius-small: 10px;

//media query breakpoints
$breakpointMobile: 33.75rem;//540
$breakpointTablet: 51.25rem;//820
$breakpointDesktop: 62.5rem;//1000